*,
:before,
:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
* {font-family: 'Pretendard';}
html, body {background-color: #222;}
html.lock, html.lock body {height:100%; overflow: hidden;}
#wrap {max-width: 1280px;margin: 0 auto;}


#wrap img {display:block;}

#header {text-align: center;padding: 35px 0;}
#logo {position: relative; background: url('../images/img_logo_3.png') 0 0/100% auto no-repeat; width: 200px; height: 141px;}
p.desc {color:#666; font-weight: 300;font-size: 48px; margin-top: 10px;text-shadow: 1px 1px 4px pink;}
@keyframes changeGradient {
	0% {background-position: 0 50%;font-weight: 900;}
	50% {background-position: 100% 50%;font-weight: 300;}
	100% {background-position: 0 50%;font-weight: 900;}
}
.hero {position: relative; border-radius: 24px; overflow: hidden; margin-bottom: 120px;}
.hero figcaption {position: absolute;inset: 0;z-index:4; display: flex; align-items: center; justify-content: center; font-size: 48px; color: #fff;  font-weight: 800; text-shadow: 1px 1px 5px pink; background-color: rgba(0,0,0,0.4);text-align: center;}
#main {margin-top: 60px;}
#mapArea {margin-top: 60px;color: #fff;
	content-visibility: auto;
	contain-intrinsic-size: 100px 400px;
}
#mapArea p {margin-top: 8px;margin-bottom: 25px;color: #fff;}
#map {height: 680px; border-radius: 24px; overflow: hidden;}

#map img[role="presentation"] {border-radius: 50%; border:4px solid #fff;}

#photos > ul {display: flex; gap: 15px; flex-wrap: wrap; list-style: none;}
#photos li.photo-item {position: relative; flex: 1 0 calc(33% - 7.5px);width: calc(33% - 7.5px); cursor: pointer;
	content-visibility: auto;
	contain-intrinsic-size: 100px 400px;
}
#photos li.photo-item svg {width: 20%;min-width:60px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color:#ddd;z-index: 10;}
#photos li.photo-item .text {position: absolute;bottom: 0;left: 0;right: 0;padding: 8px;color: #fff;font-size: 18px; font-weight: 400;}

#photos li.photo-item.wide {flex: 1 0 calc(66% - 7.5px);width: calc(66% - 7.5px);}
#photos li.photo-item > img {width: 100%;filter: grayscale(100%);}
#photos li.photo-item > img:first-child {position:absolute;top:0;left:0;z-index:1;opacity:0;transition:opacity .5s ease-out;filter: none}
#photos li.photo-item:hover > img {filter: none; transform:scale(1.12); transition:transform 20s ease-out}
#photos li.photo-item:hover > img:first-child {opacity:1}

#footer {margin-top: 45px; padding-bottom: 50px; font-size: 11px; color:#fff;}

#car {position:fixed;top:-30px;right:20px;transform:rotate(270deg);z-index:998;font-size:24px; will-change: transform;}
#car.on {top: 20px;transition: top .5s ease-in-out;}
#goal {position:fixed;bottom:20px;right:20px;font-size:24px;z-index:999;}

#loading {position: fixed;top:0;left:0;right:0;bottom:0;z-index:1000;}
#loading .car {position: absolute; top: 20px; left: 20px; font-size: 24px;
	transition: transform 2s ease;
	 /* transition: transform 1.75s cubic-bezier(0.59, -0.1, 1, 1);  */
}
#loading .car.on {transform: translateX(120vw); }
#loading .car:before {display: block;content:'🚐';transform: rotateY(180deg);}
#loading .dimd {position: absolute; inset: 0px; background:#fff;}
#loading img {position: absolute; top:50%; left:50%; width:160px; margin:-80px 0 0 -80px;z-index: 1; animation:bounce 2.5s ease infinite}
#loading.finish {opacity: 0; transition: opacity 2s; pointer-events: none;}
#loading.finish img {animation:none}
@keyframes bounce {
	0%, 100% {transform: translateY(0px)}
	50% {transform: translateY(20px)}
}


/* plugins */
.lg-outer .lg-video-cont {height: 100%;}

@media screen and (max-width:768px) {
	#wrap {padding:0 15px;}
	#logo {width: 120px;}
	#photos li.photo-item .text {font-size: 14px;}
	#map {height: 340px;}
	#loading img {width: 120px;margin:-60px 0 0 -60px;}
	#main {margin-top: 0;}
	.hero figcaption {font-size: 7.5vw; top:auto; bottom:20%;backbround:0 0;}
	.hero figure:after{position: absolute;inset: 0;z-index:3;background-color: rgba(0,0,0,0.4);content:'';}
}
